In [1]:
import mysql.connector as mysqlconnect

In [2]:
connectdb = mysqlconnect.connect(
    host = "localhost",
    user = "root",
    password = "liebenlito"
)

In [3]:
if connectdb.is_connected() == True:
    connectdb.database = "university"

In [4]:
execdb = connectdb.cursor()

In [5]:
execdb.execute("SELECT * FROM instructor")
result = execdb.fetchall()

In [6]:
len(result)

50

In [11]:
import numpy as np
import pandas as pd

In [9]:
data = np.array(result)
data

array([['14365', 'Lembr', 'Accounting', Decimal('32241.56')],
       ['15347', 'Bawa', 'Athletics', Decimal('72140.88')],
       ['16807', 'Yazdi', 'Athletics', Decimal('98333.65')],
       ['19368', 'Wieland', 'Pol. Sci.', Decimal('124651.41')],
       ['22591', 'DAgostino', 'Psychology', Decimal('59706.49')],
       ['25946', 'Liley', 'Languages', Decimal('90891.69')],
       ['28097', 'Kean', 'English', Decimal('35023.18')],
       ['28400', 'Atanassov', 'Statistics', Decimal('84982.92')],
       ['31955', 'Moreira', 'Accounting', Decimal('71351.42')],
       ['3199', 'Gustafsson', 'Elec. Eng.', Decimal('82534.37')],
       ['3335', 'Bourrier', 'Comp. Sci.', Decimal('80797.83')],
       ['34175', 'Bondi', 'Comp. Sci.', Decimal('115469.11')],
       ['35579', 'Soisalon-Soininen', 'Psychology', Decimal('62579.61')],
       ['36897', 'Morris', 'Marketing', Decimal('43770.36')],
       ['37687', 'Arias', 'Statistics', Decimal('104563.38')],
       ['4034', 'Murata', 'Athletics', Decimal('61387.56')],
       ['41930', 'Tung', 'Athletics', Decimal('50482.03')],
       ['4233', 'Luo', 'English', Decimal('88791.45')],
       ['42782', 'Vicentino', 'Elec. Eng.', Decimal('34272.67')],
       ['43779', 'Romero', 'Astronomy', Decimal('79070.08')],
       ['48507', 'Lent', 'Mech. Eng.', Decimal('107978.47')],
       ['48570', 'Sarkar', 'Pol. Sci.', Decimal('87549.80')],
       ['50330', 'Shuming', 'Physics', Decimal('108011.81')],
       ['50885', 'Konstantinides', 'Languages', Decimal('32570.50')],
       ['52647', 'Bancilhon', 'Pol. Sci.', Decimal('87958.01')],
       ['57180', 'Hau', 'Accounting', Decimal('43966.29')],
       ['58558', 'Dusserre', 'Marketing', Decimal('66143.25')],
       ['59795', 'Desyl', 'Languages', Decimal('48803.38')],
       ['63287', 'Jaekel', 'Athletics', Decimal('103146.87')],
       ['63395', 'McKinnon', 'Cybernetics', Decimal('94333.99')],
       ['64871', 'Gutierrez', 'Statistics', Decimal('45310.53')],
       ['6569', 'Mingoz', 'Finance', Decimal('105311.38')],
       ['65931', 'Pimenta', 'Cybernetics', Decimal('79866.95')],
       ['72553', 'Yin', 'English', Decimal('46397.59')],
       ['73623', 'Sullivan', 'Elec. Eng.', Decimal('90038.09')],
       ['74420', 'Voronina', 'Physics', Decimal('121141.99')],
       ['74426', 'Kenje', 'Marketing', Decimal('106554.73')],
       ['77346', 'Mahmoud', 'Geology', Decimal('99382.59')],
       ['78699', 'Pingr', 'Statistics', Decimal('59303.62')],
       ['79081', 'Ullman ', 'Accounting', Decimal('47307.10')],
       ['79653', 'Levine', 'Elec. Eng.', Decimal('89805.83')],
       ['80759', 'Queiroz', 'Biology', Decimal('45538.32')],
       ['81991', 'Valtchev', 'Biology', Decimal('77036.18')],
       ['90376', 'Bietzk', 'Cybernetics', Decimal('117836.50')],
       ['90643', 'Choll', 'Statistics', Decimal('57807.09')],
       ['95030', 'Arinb', 'Statistics', Decimal('54805.11')],
       ['95709', 'Sakurai', 'English', Decimal('118143.98')],
       ['96895', 'Mird', 'Marketing', Decimal('119921.41')],
       ['97302', 'Bertolino', 'Mech. Eng.', Decimal('51647.57')],
       ['99052', 'Dale', 'Cybernetics', Decimal('93348.83')]],
      dtype=object)

In [18]:
df = pd.DataFrame(data, columns=['ID', 'Nama', 'Program Studi', 'Gaji'])
df

       ID               Nama Program Studi       Gaji
0   14365              Lembr    Accounting   32241.56
1   15347               Bawa     Athletics   72140.88
2   16807              Yazdi     Athletics   98333.65
3   19368            Wieland     Pol. Sci.  124651.41
4   22591          DAgostino    Psychology   59706.49
5   25946              Liley     Languages   90891.69
6   28097               Kean       English   35023.18
7   28400          Atanassov    Statistics   84982.92
8   31955            Moreira    Accounting   71351.42
9    3199         Gustafsson    Elec. Eng.   82534.37
10   3335           Bourrier    Comp. Sci.   80797.83
11  34175              Bondi    Comp. Sci.  115469.11
12  35579  Soisalon-Soininen    Psychology   62579.61
13  36897             Morris     Marketing   43770.36
14  37687              Arias    Statistics  104563.38
15   4034             Murata     Athletics   61387.56
16  41930               Tung     Athletics   50482.03
17   4233                Luo       English   88791.45
18  42782          Vicentino    Elec. Eng.   34272.67
19  43779             Romero     Astronomy   79070.08
20  48507               Lent    Mech. Eng.  107978.47
21  48570             Sarkar     Pol. Sci.   87549.80
22  50330            Shuming       Physics  108011.81
23  50885     Konstantinides     Languages   32570.50
24  52647          Bancilhon     Pol. Sci.   87958.01
25  57180                Hau    Accounting   43966.29
26  58558           Dusserre     Marketing   66143.25
27  59795              Desyl     Languages   48803.38
28  63287             Jaekel     Athletics  103146.87
29  63395           McKinnon   Cybernetics   94333.99
30  64871          Gutierrez    Statistics   45310.53
31   6569             Mingoz       Finance  105311.38
32  65931            Pimenta   Cybernetics   79866.95
33  72553                Yin       English   46397.59
34  73623           Sullivan    Elec. Eng.   90038.09
35  74420           Voronina       Physics  121141.99
36  74426              Kenje     Marketing  106554.73
37  77346            Mahmoud       Geology   99382.59
38  78699              Pingr    Statistics   59303.62
39  79081            Ullman     Accounting   47307.10
40  79653             Levine    Elec. Eng.   89805.83
41  80759            Queiroz       Biology   45538.32
42  81991           Valtchev       Biology   77036.18
43  90376             Bietzk   Cybernetics  117836.50
44  90643              Choll    Statistics   57807.09
45  95030              Arinb    Statistics   54805.11
46  95709            Sakurai       English  118143.98
47  96895               Mird     Marketing  119921.41
48  97302          Bertolino    Mech. Eng.   51647.57
49  99052               Dale   Cybernetics   93348.83

In [21]:
df.where(df['Gaji'] > 100000).dropna()

       ID      Nama Program Studi       Gaji
3   19368   Wieland     Pol. Sci.  124651.41
11  34175     Bondi    Comp. Sci.  115469.11
14  37687     Arias    Statistics  104563.38
20  48507      Lent    Mech. Eng.  107978.47
22  50330   Shuming       Physics  108011.81
28  63287    Jaekel     Athletics  103146.87
31   6569    Mingoz       Finance  105311.38
35  74420  Voronina       Physics  121141.99
36  74426     Kenje     Marketing  106554.73
43  90376    Bietzk   Cybernetics  117836.50
46  95709   Sakurai       English  118143.98
47  96895      Mird     Marketing  119921.41